.video_card {
    cursor: pointer;
    padding: 5px;
    overflow: hidden;
    height: 180px !important;
    .video_thumbnail {
        height: 90px;
        width: 120px;
        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
    }
    .video_title {
        font-size: 14px;
        margin: 10px 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 500 !important;
    }
}
.selected{
    border: 1px solid;
}
