.video_card {
    cursor: pointer;
    overflow: hidden;
    width: auto;
    .video_thumbnail {
        height: 150px;
        width: 100%;
        img {
            height: inherit;
            width: inherit;
            object-fit: cover;
        }
    }
    .video_info {
        padding: 10px;
        margin: 0px 10px;
        .video_title {
            font-size: 15px;
            margin: 10px 0px;
            font-family: "Inter", sans-serif;
            font-weight: 500 !important;
        }
    }
}
