@import '../../styles/abstracts/_variables.scss';

.footer{
    position: fixed;
    padding: 15px;
    width: 100%;
    bottom: 0;
    .logo{
        height: 25px;
    }
    .links {
        margin: 5px 10px;
        font-size: 12px;
        font-family: "Inter", sans-serif;
        > a {
            margin: 0px 5px;
            cursor: pointer;
            font-weight: 500;
        }
    }
    .footer_controls{
        margin: 0px 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        .theme_control{
            border: 0.5px solid #F7FAFC;
        }
    }
}
